.penniesDonationDisplay {
    width: 335px;
    border: 1px solid rgb(222, 222, 222);
    border-radius:8px;
    line-height: 1.375em;
    background-color: #F1F1F1;
    font-family: arial;
    position: relative;
    overflow:hidden;
    margin-bottom:10px;
}
.penniesLogos .penniesCharityLogo {
    background:#fff;
    display:flex;
    justify-content: center;
    padding:20px;
}
.penniesLogos .penniesCharityLogo img {
    max-width: 150px;
}
.penniesLogos .penniesLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.penniesLogos .penniesLogo img {
    padding: 0 20px 0 0;
    max-width: 150px;
    @media (min-width: 1200px) {
        padding:0;
    }
}
.penniesLogos {
    display: grid;
    width: 100%;
    background: #fff;
    grid-template-columns: 1fr 1fr;
    @media (min-width: 1200px) {
        grid-template-columns: 1fr;

    }
}
.penniesDonationDisplay #penniesCharityTitle {
    font-size:28px;
    line-height:36px;
    margin:10px 10px 16px 10px;
}

.penniesDonationDisplay h1 {
    margin:10px;
    color:#191C17;
    font-size:16px;
    font-family:arial;
}

.penniesDonationDisplay p#penniesCharityName {
    color: #191C17;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    font-family: arial;
    line-height:normal;
    margin:10px;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP {
    line-height: 1.75em;
    border: 1px solid #D3D3D3;
    text-align: left;
    margin: 1em 0;
    background-color: #F1F1F1;
    position: relative;
    font-family: arial;
    overflow:hidden;
}
#penniesIP #penniesCharityTitle {
    color: #191C17;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-align:left;
    margin:10px;
}
#penniesIP #penniesSolicationMessage {
    color: #191C17;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    margin:10px 10px 16px 10px;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP div.penniesdonationdisplay {
    text-align: center;
    color: rgb(122, 184, 66);
    background-color: #F1F1F1;
}

#penniesInvitePanelWrap #penniesCharityHeading {
    color: #000;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    margin:15px 10px 10px 10px;
}
#penniesInvitePanelWrap .penniesCharityTitle {
    font-weight:bold;
}
#penniesInvitePanelWrap #penniesGrid {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;

    }
}
#penniesInvitePanelWrap .penniesInner {
    padding:10px;
}

#penniesInvitePanelWrap .penniesFindOutMore {
    font-size: 14px;
    color: #000 !important;
    text-decoration: underline !important;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP #ipConfirmation {
    width: 100%;
    font-size: 1.5em;
    padding: 4.3em 2em 0;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP img {
    display: block;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP #penniesIpTerms {
    min-height: 1.875em;
    display: block;
    padding: 0.6em 0.625em 0.6em 7.5em;
    font-size: 0.67em;
    line-height: 1.2em;
    clear: both;
    color: rgb(102, 102, 102);
    background-image: url(https://s3-eu-west-1.amazonaws.com/penniesfoundation/charities/20000011-50.jpg);
    background-position: 0.6em -1em;
    background-repeat: no-repeat no-repeat;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP #penniesInviteBtn,
#penniesMainContainer #penniesInvitePanelWrap #penniesIP #penniesRemoveBtn {
    display: flex;
    width: 315px;
    height: 48px;
    padding: 10px 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 56px;
    background: #7AB842;
    text-transform: uppercase;
    border: 2px solid #bbdc9f;
    margin:32px 10px;
    cursor:pointer;
}
#penniesMainContainer #penniesInvitePanelWrap #penniesIP #penniesRemoveBtn {
    background: #e5e5e5;
    border: 2px solid #e3e4e3;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP #penniesInviteBtn span,
#penniesMainContainer #penniesInvitePanelWrap #penniesIP #penniesRemoveBtn span {
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
}

#penniesMainContainer #penniesInvitePanelWrap #penniesIP span#penniesAmount {
    font-weight: bold;
    color: rgb(91, 40, 77);
}
.penniesCharitySoundBite {
    color: #191C17;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin:10px 10px 16px 10px;
}
